html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* message page style */

.message-container {
  display: flex;
  flex-direction: column;
  /*height: 100vh;*/
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.message-header .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.message-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.message-item {
  display: flex;
  padding: 12px 10px;
  color: #333;
  border: 1px solid #333;
  background-color: #f9e7bc;
  max-width: 80%;
  width: fit-content;
  margin-bottom: 10px;
  border-radius: 10px 10px 10px 0;
}

.message-item img {
  max-width: 100%;
}

.message-item.me {
  align-self: flex-end;
  border-radius: 10px 10px 0 10px;
  background-color: #b8dfd4;
}

.message-footer {
  padding: 0 15px;
}

.message-input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  border: 1px solid #333;
  border-radius: 20px;
}

.message-input {
  flex: 1;
  margin: 0 10px;
}

.message-input input {
  width: 100%;
  height: 25px;
  border: none;
  outline: none;
}
